@use "colors.module";

@font-face {
  font-family : "Kalnia";
  src: url("../../assets/fonts/Kalnia-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/raleway/Raleway-Medium.ttf") format("truetype");
}

