@use "sass:map";
@use "../../../../assets/scss-variables/colors.module" as colors;

.login-box {
  .login-form {
    width: 60%;

    form {
      display: flex;
      width: 450px;
      flex-direction: column;
      a {
        color: map.get(colors.$blue, 1000) ;
      }
      .headline {
        margin-bottom: 30px;

        p {
          margin-top: 5px;
        }
      }

      .add-ons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .sign-in-button {
        margin-top: 20px;
        border-radius: 15px;
        height: 50px;
      }
      .create-account{
        margin-top: 40px;
        text-align: center;
      }
    }
  }

  .right-box {
    width: 40%;
    padding: 0.5%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

